@import "tailwindcss";

html, body {
  color: #fff;
  background: #1f1934;

}

main {
background: #393a47;
height: 100vh;
height: 100dvh;
}

@layer utilities {
  .text-balance{
    text-wrap: balance;
  }
}

@theme {
  --color-secondary: #F5C857;
  --color-darkbg: #344CB7;
  --background-image-gradient-cover: linear-gradient(
   93.21deg,
  rgba(174, 184, 119, 0.5) -5.9%,
  rgba(0, 9, 87, 0.5) 111.58%
  );
}